.header ul {
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.02) 0.1px 1px 6px,
    rgba(0, 0, 0, 0.1) 0.1px 1px 6px;
  margin-top: 80px;

  width: 94vw;
}

.header ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0.25;
}

.header__app {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__application {
  background: #00635b;
  padding: 30px;
  color: #fff;
  justify-content: center;
  width: 100%;
}
